* text=auto

.dockerignore text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
Makefile text eol=lf
*.cjs text eol=lf
*.conf text eol=lf
*.css text eol=lf
*.example text eol=lf
*.ini text eol=lf
*.py text eol=lf
*.service text eol=lf
*.sh text eol=lf
*.socket text eol=lf
*.timer text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
Dockerfile text eol=lf
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.sql text eol=lf
*.md text eol=lf

*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
